#time-remaining {
  font-size: 20vw;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

#current-title {
    text-align: center;
    margin-top: 20px;
}

body {
  background-color: #ff2bc7e3;
  color: #000;
}

body.warning {
  background-color: darkred;
  color: #fff;
}
